body {
  margin: 0;
  padding: 0;
  display: flex;
}

#image {
  width: 40vw;
  height: 100vh;
  object-fit: cover;
}

#content-container {
  display: flex;
  flex-direction: column;
}


#quote {
  width: 60vw;
  height: 50vh;
  background-color: black;
}

#sign-up {
  width: 60vw;
  height: 50vh;
  margin-bottom: 0px;
  background-color: gray;
}
